<!-- IF RECENT_TOPICS_PAGINATION -->
<div class="topic-actions">
	<div class="pagination">
		{RECENT_TOPICS_PAGE_NUMBER} &bull; <span>{RECENT_TOPICS_PAGINATION}</span>
	</div>
</div>
<!-- ENDIF -->
<!-- BEGIN recent_topics -->
	<!-- IF not recent_topics.S_TOPIC_TYPE_SWITCH and not recent_topics.S_FIRST_ROW -->
		</ul>
		<span class="corners-bottom"><span></span></span></div>
	</div>
	<!-- ENDIF -->

	<!-- IF recent_topics.S_FIRST_ROW or not recent_topics.S_TOPIC_TYPE_SWITCH -->
		<div class="forumbg">
		<div class="inner"><span class="corners-top"><span></span></span>
		<ul class="topiclist">
			<li class="header">
				<dl class="icon">
				<dt>{L_RECENT_TOPICS}</dt>
					<dd class="posts">{L_REPLIES}</dd>
					<dd class="views">{L_VIEWS}</dd>
					<dd class="lastpost"><span>بخش</span></dd>
				</dl>
			</li>
		</ul>
		<ul class="topiclist topics">
	<!-- ENDIF -->

		<li class="row<!-- IF recent_topics.S_ROW_COUNT is even --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
			<dl class="icon" style="background-image: url({recent_topics.TOPIC_FOLDER_IMG_SRC}); background-repeat: no-repeat; background-size: 25px 25px;">
				<dt style="<!-- IF recent_topics.TOPIC_ICON_IMG -->background-image: url({T_ICONS_PATH}{recent_topics.TOPIC_ICON_IMG}); background-repeat: no-repeat; background-size: 25px 25px;<!-- ENDIF -->" title="{recent_topics.TOPIC_FOLDER_IMG_ALT}"><!-- IF recent_topics.S_UNREAD_TOPIC --><a href="{recent_topics.U_NEWEST_POST}">{NEWEST_POST_IMG}</a> <!-- ENDIF --> <!-- IF not S_USER_LOGGED_IN --><a href="{recent_topics.U_LAST_POST}"" class="topicjadid">{recent_topics.TOPIC_TITLE}</a> <!-- ELSE --> <a href="{recent_topics.U_NEWEST_POST}" class="topicjadid">{recent_topics.TOPIC_TITLE}</a> <!-- ENDIF --> <!-- IF U_VIEW_UNREAD_POST and not S_IS_BOT --> &bull; <a href="{U_VIEW_UNREAD_POST}">{L_VIEW_UNREAD_POST}</a> &bull; <!-- ENDIF -->
					<!-- IF recent_topics.S_TOPIC_UNAPPROVED or recent_topics.S_POSTS_UNAPPROVED --><a href="{recent_topics.U_MCP_QUEUE}">{recent_topics.UNAPPROVED_IMG}</a> <!-- ENDIF -->
					<!-- IF recent_topics.S_TOPIC_REPORTED --><a href="{recent_topics.U_MCP_REPORT}">{REPORTED_IMG}</a><!-- ENDIF --><br />
					<!-- IF recent_topics.PAGINATION --><strong class="pagination"><span>{recent_topics.PAGINATION}</span></strong><!-- ENDIF -->
					{L_POST_BY_AUTHOR} {recent_topics.LAST_POST_AUTHOR_FULL} &raquo; <span class="farsi-numerals">{recent_topics.LAST_POST_TIME}</span>
				</dt>
				<dd class="posts farsi-numerals">{recent_topics.REPLIES} <dfn>{L_REPLIES}</dfn></dd>
				<dd class="views farsi-numerals">{recent_topics.VIEWS} <dfn>{L_VIEWS}</dfn></dd>
				<dd class="lastpost"><!-- IF recent_topics.U_VIEW_FORUM and recent_topics.FORUM_NAME --><a href="{recent_topics.U_VIEW_FORUM}" style="font-weight: normal; font-size: 13px; padding-right: 5px; line-height: 2.1em; ">{recent_topics.FORUM_NAME}</a><!-- ENDIF -->
				</dd>
			</dl>
		</li>

	<!-- IF recent_topics.S_LAST_ROW -->
			</ul>
		<span class="corners-bottom"><span></span></span></div>
	</div>
	<!-- ENDIF -->

<!-- BEGINELSE -->
	<div class="panel">
		<div class="inner"><span class="corners-top"><span></span></span>
		<strong>{L_NO_TOPICS}</strong>
		<span class="corners-bottom"><span></span></span></div>
	</div>
<!-- END recent_topics -->