/* iPad and iPhone */
@media only screen and (max-width: 900px), only screen and (max-device-width: 900px)
{
	.postprofile img {
		max-width: 145px;
		height: auto;
	}
}



@media only screen and (max-width: 700px), only screen and (max-device-width: 700px)
{
	/* main stuff */
	body { min-width: 320px; }

	/* navigation */
	.responsive-menu { display: block !important; }
	#search-box { display: none !important; }
	#page-header { position: relative; }
	#nav-header {
		float: none;
		margin: 0;
		padding: 6px 4px;
		width: auto;
		max-width: 320px;
		position: absolute;
		top: 30px;
		background: #0179aa;
	}
	#nav-header a {
		float: none;
		display: block;
	}
	#nav-header a span {
		display: block;
		max-width: 320px;
		text-align: right;
		padding-right: 8px;
	}
	#nav-header { display: none !important; }
	.responsive-menu-nojs:hover #nav-header, .responsive-menu-visible #nav-header { 
	display: block !important; 
	right: -10px;
	border-bottom-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	box-shadow: -3px 4px 2px 1px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: -3px 4px 2px 1px rgba(0, 0, 0, 0.3);
	}
	#belowbar {
		box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.3);
	}
	#search-adv a, #search-adv a:visited {
		float:right;
		margin-left: 0;
		padding-left: 0;
		}
	.menu-buttons a, .menu-buttons a:visited {
		float: right;
		margin-left: 0;
		padding: 3px 0 4px 15px;
	}

	.menu-buttons a .arrow {
		margin-right: 0px;
	}
	#persistent a, #persistent a:visited, {
		float:right;
	}	
		
	
	.responsive-menu-visible .responsive-menu-hide { 
		display: block !important; 
		border-top: 1px solid;
		padding: 0;
		margin: 0;
	}
	
	.buttons div {
		margin-left: 0px;
	}

	/* forums/topics lists */
	ul.topiclist dt { width: 60%; }
	ul.topiclist dd.topics, ul.topiclist dd.posts, ul.topiclist dd.views { display: none; }
	ul.topiclist dd.lastpost { width: 30%; }
	.section-mcp ul.topiclist dd.lastpost { width: 25%; }
	ul.topiclist dd.mark {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 5px;
		width: auto;
		border-left-width: 0;
		text-align: right;
	}
	
	/* topic */
	.postprofile, .signature { display: none; }
	.postbody { 
		float: none;
		width: auto;
	}
	.post ul.profile-icons li { opacity: 1; }
	blockquote, dl.codebox { margin-left: 5px; }
	
	/* jumpbox */
	#jumpbox { 
		display: block; 
		clear: both;
	}
	fieldset.jumpbox { 
		display: block;
		float: none;
		clear: both;
		padding: 5px 0;
	}
	
	/* navigation */
	div.nav-extra {
		top: 0;
		float: none;
		z-index: 0;
	}
	div.nav-links, ul.linklist { height: auto; }
	div.nav-links:after, ul.linklist:after, div.nav-extra:after, form:after {
		content: '';
		display: block;
		clear: both;
	}
	
	a.left-box, a.right-box, p.rightside, li.rightside, ul.rightside, ul.linklist li.rightside, .right-box {
		float: none;
		clear: both;
		display: block;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	p.rightside { text-align: left; }
	
	div.pagination, div.buttons {
		float: none;
		clear: both;
		padding-top: 15px;
		padding-bottom: 5px;
	}
	
	.pagination span a, .pagination span a:link, .pagination span a:visited, .pagination span a:active {
		padding: 3px 7px;
	}
	
	.pagination span strong {
		padding: 3px 7px;
	}
	
	.row .pagination {
		margin-top: 0px;
	}
	
	.search-box { margin-left: 0; }
	.search-box input.button2 { opacity: 1; }
	#forum-search, #topic-search { display: none; }
	
	fieldset.display-options {
		margin: 10px 0;
		clear: both;
		float: none;
		display: none;
	}
	.display-options label { 
		display: block;
		padding: 5px 0;
	}
	
	/* cp */
	.tabs-container > h2 { margin: 10px 0; }
	fieldset.display-actions { white-space: normal; }
	#cp-main .pagination, #cp-main > h2, #cp-main > form > h2 {
		float: none;
		padding: 10px 0;
		clear: both;
	}
	#cp-main .pagination { text-align: right; }
	#cp-main table.table1 { border-collapse: collapse; }
	#cp-main table.table1 td, #cp-main table.table1 th { border-radius: 0; }
	.column1, .column2 { 
		float: none;
		width: auto;
		clear: both; 
	}
	div.cp-panel {
		max-width: 100%;
		padding:0;
		
	}
	
	/* forms */
	select { max-width: 190px; }
	dd label { white-space: normal; }
	
	fieldset.fields2 dt, fieldset.fields2 dd, fieldset dt, fieldset dd, fieldset.fields1 dt, fieldset.fields1 dd {
		float: none;
		width: auto;
		margin: 5px 0;
	}
	fieldset.fields2 dd, fieldset dd, fieldset.fields1 dd { padding-left: 20px; }
	dl.pmlist dt { width: auto !important; }
	dl.pmlist dd { margin-left: 0 !important; }

	/* posting form */
	#message-box textarea, input.inputbox { 
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	.autowidth { width: 98% !important; max-width: 240px !important; }
	
	/* tabs */
	div.dropdown-tabs { 
		float: none;
		height: auto; 
		margin: 10px 0;
		padding: 0;
		background: transparent none;
	}
	div.dropdown-tabs + div.dropdown-tabs {
		border-top: 1px solid #c1c1c1;
		padding-top: 5px;
	}
	div.dropdown-tabs > a {
		display: none;
	}
	div.dropdown-tabs > ul {
		display: block;
		position: relative;
		top: 0;
		right: 5px;
		background: transparent none !important;
		border-width: 0;
		border-radius: 0;
		z-index: 0;
	}
	#tabs li, #navigation li, .dropdown-tabs li, #tabs .dropdown-tabs li {
		float: none;
		clear: both;
	}
	.dropdown-tabs li, #tabs .dropdown-tabs li {
		border-width: 0;
		padding: 0;
	}
	#tabs li a, #navigation li a {
		display: block;
		float: none;
		background: #f4f4f4 none !important;
		padding: 7px 12px !important;
		line-height: 1.3em;
		width: auto;
		max-width: 200px;
		height: auto;
		text-align: center;
		margin: 5px auto !important;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		border: solid 1px white;
		box-shadow: 0px 0px 0px 1pt #d3d3d3;
		
	}
	#tabs li a span, #navigation li a span {
		background: transparent none !important;
		padding: 0;
		margin: 0;
		height: auto;
	}
	
	/* misc */
	#page-body > h2, #page-body > form > h2, #page-body h3, #page-body > form > h3, div#message h2, #confirm h2, #agreement h2, #page-body h2.title a, #page-body h2.title a:visited {
		float: none;
		line-height: 1.5em;
	}
	.search .postbody { width: 97%; }
	.searchresult-author { display: block; }
	#smiley-box { max-width: 100%; }
}

/* iPhone */
@media only screen and (max-width: 500px), only screen and (max-device-width: 500px)
{
	/* header */
	#header {
	padding: 0;
	}
	#logo img {
		margin: 2px 10px 2px 15px;
		width: 220px;
		height: 72px;
	}
	#abovebar {
		height:30px;
	}
	#belowbar {
		height:33px;
		margin-bottom: 9px;
	}
	.menu-buttons a span, #search-adv a span, #persistent a span {
		padding: 8px 0 0 0;
	}
	#above-header a span {
		padding: 10px 0 0 0;
	}
	.menu-buttons span.arrow {
		padding-top: 5px;
	}
	
	.nav-links {
		padding: 5px 6px 0px 0px;
	}
	.nav-links a {
		padding-right: 0px;
		margin-right: 4px;
	}
	.nav-links a span {
		padding-left:10px;
	}
	.nav-links a:first-child span {
	background-image: url({T_THEME_PATH}/images/menu2.png);
	background-size: 15px 70px;
	padding-right: 5px;
	}
	
	
	/* forums/topics lists */
	ul.topiclist dt { 
		float: none;
		width: auto;
	}
	ul.topiclist dd { display: none; }
	ul.topiclist dd.mark { display: block; }
	fieldset.quick-login span { 
		display: block;
		padding-top: 7px;
	}
	fieldset.quick-login span.separator { display: none; }
	.copyright .copy-left {
    text-align: center;
    float: inherit;
    margin-left: 0;
	}
	.copyright .copy-right {
		float: inherit;
    text-align: center;
    margin-right: 0;
	}
	p#last-visit-box { display: none !important; }
	input[type="text"]:focus, input[type="password"],
	textarea:focus, select:focus {
	  font-size: 16px;
	}
	div.search-box.header-box {
		clear: none;
		width: 100px;
	}
	input.headerbox {
		padding: 1px 8px 1px 22px;
		background-position: 8px 5px !important;
		float: left;
	}
	input.headerbox:focus {
		width: 150%;
		font-size: 16px !important;
	}
	#search-adv {
		display:none;
	}

	/* forum/viewtopic */
	div.content blockquote cite { display: inline-block; }
	div.content blockquote a.show-hide-quote { display: inline-block; }
	div.content blockquote div.quoted-content { display: none; }

	#smiley-box { max-width: 100%; }

	.pagination span strong, .pagination span a { margin-top: 8px;}
	.pagination { text-align: right; }
}

@media only screen and (device-width: 768px)
{
	.pagination span a, .pagination span a:link, .pagination span a:visited, .pagination span a:active {
		padding: 2px 6px;
	}
	.pagination span strong {
		padding: 2px 6px;		
	}
	.post ul.profile-icons li {
opacity: 1;
	}
	.search-box input.button2 {
		opacity: 1;
	}

	#smiley-box { max-width: 140px; }
}